<section>
  <h2>Biome Tables</h2>
  <p>
    <button (click)="onSelectStartingHexBiome()">{{ tableStartingHexBiome.title }}</button>
    <span>{{ startingHexBiomeResult }}</span>
  </p>

  @if (startingHexBiomeResult) {
  <p>Second Hex: {{ nextHexBiomeResult }}</p>
  }

  <div>
    <button (click)="onCalcHexesBiome()">Calculate Hexes for Biomes</button>
    <pre>{{ hexesBiome | json }}</pre>
  </div>
</section>

<section>
  <h2>Feature Tables</h2>
  <p>
    <button (click)="onSelectStartingHexFeature()">{{ tableStartingHexFeature.title }}</button>
    <span>{{ startingHexFeatureResult }}</span>
  </p>

  @if (startingHexFeatureResult) {
  <p>Second Hex: {{ nextHexFeatureResult }}</p>
  }

  <div>
    <button (click)="onCalcHexesFeature()">Calculate Hexes for Features</button>
    <pre>{{ hexesFeature | json }}</pre>
  </div>
</section>
